.verde{
    background-color: #b5decd75;
}
.margen {margin:20px 0px}



.circular--square {
    border-radius: 70%;
  }

  
.verde{
    background-color: #b5decd75;


}

h3 {
    font-size: medium; font-family:'Open Sans', 'Helvetica Neue', sans-serif; color: #b5decd75;
}



h6 { font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:large; color:dimgray; text-align: center;

}

